/* Page Container */
.user-login-page {
  text-align: center;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
}

/* Background image */
.user-background-login {
  height: 85vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Login Container */
.user-login-container {
  min-height: 80vh;
  width: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* White card */
.user-login-box {
  padding: 2rem;
  border-radius: 16px;
  max-width: 380px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}

/* Input */
.user-login-input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.user-login-input:focus {
  border-color: #0056ff;
  box-shadow: 0 0 5px rgba(0, 86, 255, 0.3);
}

/* Login Button */
.user-login-button {
  width: 100%;
  padding: 12px;
  background-color: #0056ff;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: 0.3s;
}

.user-login-button:hover {
  background-color: #003fcc;
}

/* Error message */
.user-error-message {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: red;
  font-weight: bold;
}

/* Register Link */
.user-register-link {
  margin-top: 15px;
}

.user-register-link a {
  color: #0056ff;
  text-decoration: none;
  font-weight: 600;
}

.user-register-link a:hover {
  text-decoration: underline;
}