.bus-type-container {
  padding: 20px;
}

.bus-type-table {
  width: 100%;
  border-collapse: collapse;
}

.bus-type-table th,
.bus-type-table td {
  border: 1px solid #ddd;
  padding: 10px 15px;
  text-align: left;
}

.bus-type-table th {
  background-color: #607D8B;
  color: white;
}

.bus-type-table tr:hover {
  background-color: #f5f5f5;
}
.align-items {
  text-align: left;
}
.dialog-header {
    color: white !important;
    background-color: #1976d2 !important;;
}
