.home {
    text-align: center;
    h3 {
     text-align: center !important;
     margin: 0;;
    }
    i {
     text-align: center !important;
     font-size: 10px;
    }
}
/* Drawer menu hover style */
.MuiListItemButton-root:hover {
  background-color: grey;   /* grey background on hover */
}

.MuiListItemButton-root:hover .MuiListItemText-primary {
  color: white;             /* optional: white text for contrast */
}
